//@import 'cljsjs/dragula/common/dragula';

//https://github.com/bevacqua/dragula/issues/303
//.gu-draggable {
//   -webkit-transform: translateZ(0);
//   -moz-transform: translateZ(0);
//   -ms-transform: translateZ(0);
//   -o-transform: translateZ(0);
//   transform: translateZ(0);
//   -webkit-backface-visibility: hidden;
//   -webkit-perspective: 1000;
// }

//https://github.com/bevacqua/dragula/issues/373
.gu-hide {
  visibility: hidden;
}

.gu-transit {
  opacity: 0.3;
}

.gu-mirror {
  display: none;
}

.gu-mirror:last-of-type {
  display: block;
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
}
