#sidebar {
  & > * {
    position: absolute;
    height: 100%;
  }

  nav {
    width: $sidebar-width;
    display: flex;
    justify-content: center;
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .sidebar-content {
    left: $sidebar-width;
    transition: max-width 0.5s ease-out;
    max-width: 0;
    overflow: hidden;

    &.open {
      max-width: 100%;
    }
  }

  & + * {
    margin-left: $sidebar-width;
  }
}
