$enable-shadows: true;

$sizes: map_merge($sizes, (
  10: 10%,
  40: 40%,
  50: 50%,
  60: 60%,
));

$card-columns-count: 2;

$corporations: (
  baor: #004788,
  ilcr: #2e6235,
  nycr: #131212,
  caor: #84cbe6,
  erie: #ffe113,
  gtrw: #e36e27,
  penn: #b42127
);

$theme-colors: map_merge($theme-colors, $corporations);

$corporation-text-color-light: $gray-200;
$corporation-text-color-dark: $gray-900;
